%ol.breadcrumb
  %li.active Home

%h3 Running Jobs
%table.table#job_list
  %tr
    %th Job
    %th Last performed at
    %th Status
    %th
  - @jobs.each do |job|
    %tr
      %td= job.job_id
      %td= job.last_performed_at || '-'
      %td
        - if job.healthy == false
          %a{ href: url("/job/#{job.id}") }
            %span.label.label-danger Error
        - if job.healthy == true
          %a{ href: url("/job/#{job.id}") }
            %span.label.label-success Success
        - else
          %a{ href: url("/job/#{job.id}") }
            %span.label.label-default Pending
      %td
        %a{ href: url("/job/#{job.id}") }
          Log
          %span.glyphicon.glyphicon-menu-right
